html{
	min-height:100%;
	position:relative;
}
body{
	margin-bottom: 60px;
}

.jumbotron {
	padding : 40px;
}

.panel-heading{
	background-color:#333333;
	padding: 10px;
	padding-left: 20px;
	font-size:14pt;
	color:white;
	border-radius: 0px;
}


/*----------- Header ------------*/


/*----------- Footer ------------*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	color : #999;
	background-color: #333;
	text-align: center;
}



/*----------- Content ------------*/
.search-box .box{
	display: inline-block;
	width: 49%;
}

.search-box{
	/* Hide any overflow on the gallery */
	padding: 40px;
}

.search-box h1{
	/* Hide any overflow on the gallery */
	font-size: 50px;
}

.search-box .input-box{
	padding: 10px;
	padding-left: 20px;
}

.search-box .search-btn{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #cc9900;
	border: 2px solid #cc9900;
	color: white;
}

.search-box .search-btn:hover{
	background-color: #997300;
	border: 2px solid #997300;
}


/*----------- Gallery ------------*/
.carousel{
	/* Hide any overflow on the gallery */
	height:400px;
	overflow:hidden;
}

.carousel .container img{
	display:block;
	height: 100%;
	max-width: 100%;
	margin:auto;
}

.carousel .carousel-inner{
	margin: 10px;
}

.carousel .carousel-caption{
	margin: 20px;
}

.carousel .container{
	/* make header/button stay at a fixed height within the gallery window */
	height:400px;
	width:100%;
}

/*----------- Login ------------*/

.login td{
	padding:10px;
}

#content {
	max-width:800px;
	margin:1% auto 70px auto;
	background-color: #fcfcfc;
}

/*----------- Org profile -------------*/

.profile-container .panel-heading{
	background-color:#333333;
	padding: 10px;
	padding-left: 20px;
	font-size:14pt;
	color:white;
	border-radius: 0px;
}

.profile-container .panel-body{
	font-size:14pt;
	padding-bottom: 0px;
}

.profile-container .panel{
	margin-bottom: 0px;
	border: 1px solid #f3f3f3;
}

.profile-container .well{
	padding: 10px;
}
.profile-container img{
	padding: 10px;
	width: 100%;
	background-color: white;
}

.profile-container .box{
	width: 49%;
	display: inline-block;
}