{% extends "dbtest/base.html" %}

{% block content %}

<h1><span class="text-muted">About </span>BoilerConnect</h1>
<h2><b>Purpose: </b></h2>
<p>
  BoilerConnect creates a network of Purdue Service-Learning Groups and Partner Organizations to solve real-world problems in the community. As a Partner Organization, this is your “one-stop-shop” to find the right group for your task quickly and efficiently. As a Purdue Service-Learning Group, this is your chance to grow off of what the community asks for and accomplish more than you imagined. Whether you are a student or a professional partner, this is where you connect with the people you need.
</p>
<br>
<hr>
<h2><b>Features: </b></h2>
<p>
  As a Partner Organization, you can go onto our website and find the right group to accomplish your task. Then, you can send that group what we call a “Job Request” with a precise description of what you want done and when you need it completed. Then, you will be given that groups contact information and follow up with them after they have accepted your job.
</p>
<br>
<p>
  As a Purdue Service-Learning Group, you can create a page to advertise your group and the tasks you specialize in. If a Partner Organization chooses to send you a “Job Request”, you will be notified of their offer and you can accept or decline it. They will be notified of your decision and provided your contact information, at which point it is up to you to follow through with your new connection and begin your task.
</p>
<br>
<hr>
<h2><b>Creators: </b></h2>
<p>
  This website was created by Purdue students in the Information Management Systems(IMS) sub-team of Engineering Projects in Community Service(EPICS). It is continuing to be improved every day. For more information on EPICS, IMS, or this website, visit 
</p>
<a href="http://epics.ecn.purdue.edu/ims/">epics.ecn.purdue.edu/ims/</a> 
<br>
<hr> 	

{% endblock content %}
