{% load staticfiles %}
<html>
	<head>
	<link rel='stylesheet' type='text/css' href='{% static 'style.css' %}'/>
	</head>

	<body>
		<div id ="header">
			<a class="left" href="{% url 'front_page' %}">John's List</a>
			{% block header %}
			{% if user.is_authenticated %}
				<a class="right" href="{% url 'logout' %}"> LOGOUT </a>
			{% else %}
				<a class="right" href="{% url 'login' %}"> LOGIN </a>
			{% endif %}
			{% endblock %}
		</div>

		<div id ="content">
			{% block content %}
			Content
			{% endblock %}
		</div>

		<div id ="footer">
			{% block footer %}
			Footer
			{% endblock %}
		</div>
	</body>
</html>


