{% extends "dbtest/base.html" %}
{% load template_tags %}

{% block content %}
<div class="jumbotron">
  <center>
    <h3>{{ request.user }}</h3>
  </center>

  <span class="pull-right"><button class="btn btn-info">User settings</button></span>
</div>

<div class="row">
  <div class="col-sm-6">
  {% dash_notifications "Notifications" unread_notifications read_notifications %}
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Jobs
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {% for job in jobs %}
          <a class="list-group-item" href="{% url 'job_dash' job.id %}">
            <span class="badge">14</span>
            {{ job.name }}
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
