{% extends "dbtest/base.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h3>{{ request.user }}<small> Dashboard </small></h3>
  </center>

  <span class="pull-right"><button class="btn btn-info">User settings</button></span>
</div>

<div class="row">
  <div class="col-sm-5">
    <!--left col-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        Notifications
        <div class="badge">
          {{ user.notifications.unread | length }}
        </div>
      </div>

      <div class="list-group">
        {% for noti in user.notifications.unread %}
        <a href="#" class="list-group-item">
          <i class="fa fa-circle"></i>
          {{ noti.verb }}
          <span class="pull-right"><small>Oct 21,2015 9:31PM</small></span>
        </a>
        {% endfor %}
        {% for noti in user.notifications.read %}
        <a href="#" class="list-group-item read">
          <i class="fa fa-circle"></i>
          {{ noti.verb }}
          <span class="pull-right"><small>Oct 21,2015 9:31PM</small></span>
        </a>
        {% endfor %}
      </div>

      <div class="panel-body">
        <center><a href="#"> Show More </a></center>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Jobs
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {% for job in jobs %}
          <a class="list-group-item" href="{% url 'job_dash' job.id %}">
            <span class="badge">14</span>
            {{ job.name }}
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
