{% extends "dbtest/base.html" %}
{% block content %}
<div class="panel-heading">
  <div class="">
    Job Information : {{ jobrequest.job.name }}
  </div>
</div>

<div class = "jumbotron" >
    <p><u>Job Description</u> : {{jobrequest.job.description}}</p>
    <p><u>Job Due Date</u> : {{jobrequest.job.duedate}}</p>
    <p><u>Job Creator</u> : <a href="{% url 'user_dash' jobrequest.job.id %}">{{ jobrequest.job.creator }}</a></p>
    {% if comment_text %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for comments in comment_text %}
                <tr>
                    <td>
                        {{comments.jobrequest.organization}}
                    </td>
                    <td>
                        {{comments.text_comment}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    {% endif %}

    </table>
        <div class = "contact-info box">
        <form method=POST name="comment" action="{% url 'job_detail' jobrequest.organization.id jobrequest.job.id %}">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-bullhorn"></i>
                </span>
                <textarea class="form-control"  name="text_comment" placeholder="What do you think about this job?"></textarea>
                </div>
                <input class = "custom-btn" type="submit" name = "comment" value="Leave the comment">
        </form>
</div>
{% endblock content %}
