{% extends "dbtest/base.html" %}
{% load staticfiles %}
{% load guardian_tags %}
{% load widget_tweaks %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a  class="navbar-brand" rel="home" href="/" title="BoilerConnect">
            <img draggable="false" style="max-width:27px;margin-top:-3px;margin-right:-7px;"
                    src='{% static 'brand.png' %}'>
            </a>
            <a class="navbar-brand">Job Creation Process</a>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="form-group">
        <form action="{% url 'job_creation' %}" method="post">{% csrf_token %}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tutorial" data-toggle="tab" aria-expanded="true">Explanation of the process</a></li>
                <li class=""><a href="#info" data-toggle="tab" aria-expanded="true">Basic information</a></li>
                <li class=""><a href="#specs" data-toggle="tab" aria-expanded="true">Job Specifications</a></li>
                <li class=""><a href="#orgs" data-toggle="tab" aria-expanded="true">Organizations selection</a></li>
            </ul>

            <div class="button_group">
            <a style="display:none;" class="prev_tab btn btn-primary" ">Previous</a>
            <a class="next_tab btn btn-primary">Next</a>
            </div>

            <div class="row tab-content">

                <!-- ############## Explanation Tab ############# -->

                <div class="tab-pane fade active in" id="tutorial">
                    <div class="row">
                        <div class="col-sm-4">
                        After your job is submitted, the copy of each submission is sent to all organizations that you selected. Those organizations will be able to review it, and they have an option to leave a comment on your job. If they do comment, you will be notified about this. 
                        </div>
                        <div class="col-sm-4">
                        After that, organizations will decide if they have capabilities to perform the job. Based on that, they will either accept the job or decline it, and you will be notified on this website, as well as in email about their decision.<br>
                        </div>
                        <div class="col-sm-4">
                        Finally, once you are satisfied with the responses from the organizations, you will be able to pick the organization that is going to do the job. We will exchange the contact information for you, and the rest of the communication is to be done on your behalf.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        <img class="explanation" src="static/Part1.png"><br>
                        </div>
                        <div class="col-sm-4">
                        <img class="explanation" src="static/Part2.png"><br>
                        </div>
                        <div class="col-sm-4">
                        <img class="explanation" src="static/Part3.png"><br>
                        </div>
                    </div>
                </div>

                <!--########## Basic information Tab ##########-->

                <div class="tab-pane fade" id="info">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-bullhorn"></i>
                        </span>
                        Name of the job.
                        {% render_field form.name class+="form-control" placeholder="eg. Irrigation System" %}
                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-coffee"></i>
                        </span>
                        What organization or group are you representing?
                        {% render_field form.client_organization class+="form-control" placeholder="eg. Lafayette City Farms" %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-coffee"></i>
                        </span>
                        Briefly describe the deliverables that you expect as a result of this project.
                        {% render_field form.deliverable class+="form-control" placeholder="eg. An pump system to handle Spring flooding." %}
                    </div>
                </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-coffee"></i>
                        </span>
                        Give a short description of the job. Later, you will be able to provide more detailed description, keep this one brief.
                        {% render_field form.description class+="form-control" %}
                    </div>
                </div>

                <!------------ Technical specifications Tab ------------>

                <div class="tab-pane fade" id="specs">

                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                        </span>
                        Specify the date when this project is due. If you are not sure of the exact date, give a close approximation.
                        {% render_field form.duedate class+="form-control" placeholder="yyyy-mm-dd" %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-coffee"></i>
                        </span>
                        List stakeholders and anyone who might be affected by this work.  Give a description if necessary.
                        {% render_field form.stakeholders class+="form-control" placeholder="eg. Lafayette City Farms, Lafayette farmers" %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-cogs"></i>
                        </span>
                        If available, provide the technical specifications of the deliverable. In this section, you should be as precise as you can. 
                        {% render_field form.tech_specs class+="form-control" %}
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-money"></i>
                        </span>
                        What is the budget that team can use for the project? You can provide the explanation along with the budget, or the estimation if you do not have precise data at the moment.
                      {% render_field form.budget class+="form-control" %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-file"></i>
                        </span>
                        If there are any files that you want to add in your job submission, do it here. 
                        {% render_field form.attachments %}
                    </div>
                  </div>

                </div>

                <!------------ Add Organizations Tab ---------------->
                <div style="display: none;">
                {{form.organization}}
                </div>

                <div class="tab-pane fade" id="orgs">
                    Filter the organizations to find the ones that you want to send the job request.
                    If an organization suits your needs, click <b> Add </b>.
                    You can add as many organizations as you want.
                    Once you are done, click <b> Submit Job </b>.

                    {% widget "widgets:org_search" %}

                    <div class="button_group">
                        <input type="submit" class="btn btn-primary" value="Submit Job" onclick="submitFunction()">
                    </div>
                </div>
            </div>

            <div class="button_group">
            <a style="display:none;" class="prev_tab btn btn-primary" ">Previous</a>
            <a class="next_tab btn btn-primary">Next</a>
            </div>
        </form>
    </div>
</div>


<!------------------ submit button function ---------------->
<script>
  function submitFunction() {
      $('#id_organization').val($("#org_selected").children(':not(.hidden)').map(function(){ return $(this).attr('org_pk') }))
  }
</script>
{% endblock content %}
