{% extends "dbtest/base.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h3>{{ job.name }}<small> {{job.client_organization}}</small></h3>
  </center>

  <span class="pull-right"><button class="btn btn-info">Job settings</button></span>
</div>

<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-primary">

      <div class="panel-heading">
            Job Requests
      </div>
      <div class="panel-body">
        <ul class="list-group dash-list">
          {% for jobrequest in jobrequests %}
            <a class="list-group-item" href="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id %}">
                <span class="badge">14</span>
                {% if jobrequest.accepted %}
                <span class="label label-success">Accepted</span>
                {% elif jobrequest.declined %}
                <span class="label label-danger">Declined</span>
                {% else %}
                <span class="label label-warning">Pending</span>
                {% endif %}
            <img src="{{ jobrequest.organization.icon.url }}" height="70px"></img>
            {{ jobrequest.organization }}
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
