{% extends "dbtest/base.html" %}
{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ jobrequest.job.name }}</h3>
  </center>

  <a href="" class="pull-right"><button class="btn btn-info">Settings</button></a>
</div>

<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <div class="panel panel-primary">

      <div class="panel-heading">
            Job Description
      </div>
      <div class="panel-body">
          {{jobrequest.job.description}}
      </div>

      <div class="panel-heading">
            Job Information
      </div>
      <div class="panel-body">
          {{jobrequest.job.creator}}
          {{jobrequest.job.duedate}}
      </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for comments in comment_text %}
            <tr>
                <td>
                    {{comments.jobrequest.organization}}
                </td>
                <td>
                    {{comments.text_comment}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
  </div>
</div>
{% endblock content %}
