{% extends "dbtest/base.html" %}
{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ jobrequest.job.name }}</h3>
  </center>

  <a href="" class="pull-right"><button class="btn btn-primary">Settings</button></a>
</div>

<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <div class="panel panel-primary">

      <div class="panel-heading">
            Job Description
      </div>
      <div class="panel-body">
          {{jobrequest.job.description}}
      </div>

      <div class="panel-heading">
            Job Information
      </div>
      <div class="panel-body">
          {{jobrequest.job.creator}}
          {{jobrequest.job.duedate}}
      </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for comments in comment_text %}
            <tr>
                <td>
                    {{comments.jobrequest.organization}}
                </td>
                <td>
                    {{comments.text_comment}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class = "contact-info box">
      <form method=POST name="comment" action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id %}">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control"  name="text_comment" placeholder="Comment on this Job"></textarea>
      </div>
      <div class="form-group">
        <input class = "btn btn-primary" type="submit" name = "comment" value="Submit">
        </div >
      </form>
    </div>
  </div>
</div>

{% endblock content %}
