{% extends "dbtest/base.html" %}
{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ jobrequest.job.name }}</h3>


    <small>Created by</small> {{jobrequest.job.client_organization}}
    {%if not request.user.userprofile.purdueuser%}
    <br>
    <small>submitted to</small> <a href="{% url 'organization_detail' jobrequest.organization.id %}">{{jobrequest.organization.name}}</a>
    {%endif%}
    <br><br>
   <i class="fa fa-calendar"></i> Due on  <span class="badge "> {{jobrequest.job.duedate}}</span>

   <br><br>
   <!--form acton for Purdue group to accept/decline a jobrequest-->
   {%if jobrequest.is_pending and perm_to_edit_jobrequest_state %}
       <form action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id%}" method ="post">
           {%csrf_token%}
           <input type="hidden" name="jobrequest" value="{{jobrequest}}">
           <input class="btn btn-success" type="submit" name="action" value="Accept Request">
           <input class="btn btn-danger" type="submit" name="action" value="Decline Request">
       </form>
   {%else%}
       {%if not jobrequest.confirmed%}
       <form action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id%}" method ="post">
           {%csrf_token%}
           <input type="hidden" name="jobrequest" value="{{jobrequest}}">
           <input class="btn btn-success" type="submit" name="confirm" value="Confirm Request">
       </form>
       {%endif%}
   {%endif%}

   <!--only appears when the jobrequest has been accepted by the Purdue group -->

   <!-- should show pending for both types of user -->

   {%if jobrequest.is_pending %}
   <span class="label label-warning">Pending</span>
   {% endif %}

   <!--perm_to_edit_jobrequest_state checks the user type -->
    
   {%if perm_to_edit_jobrequest_state%}
       {%if jobrequest.accepted %}
       <span class="label label-success">Accepted</span>
       {% endif %}
       {%if jobrequest.declined %}
       <span class="label label-danger">Declined</span>
       {% endif %}
   {%else%}
       {%if jobrequest.confirmed %}
       <span class="label label-success">Confirmed</span>
       {% endif %}
   {%endif%}
  </center>


</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Additional Information</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Description</td>
      <td>{{jobrequest.job.description}}</td>
    </tr>
    <tr class="info">
      <td>Deliverable</td>
      <td>{{jobrequest.job.deliverable}}</td>
    </tr>
    <tr class="success">
      <td>Stakeholders</td>
      <td>{{jobrequest.job.stakeholders}}</td>
    </tr>
    <tr class="danger">
      <td>Tech Specs</td>
      <td>{{jobrequest.job.tech_specs}}</td>
    </tr>
    <tr class="warning">
      <td>Budget</td>
      <td>{{jobrequest.job.budget}}</td>
    </tr>
  </tbody>
</table>


<div class="list-group">
    <div class="list-group-item active">
    Comments
    </div>
    <!--check the user type to determine whether the organization name should be display-->
    {%if comment_text %}
        {% for comments in comment_text %}
            <div class="list-group-item">
            {{comments.text_comment}}
            <span class="pull-right"> 
                {% if comments.creator.userprofile.purdueuser %}
                    {{comments.creator}} from {{comments.jobrequest.organization}}
                {% else %}
                    {{comments.creator}}
                {% endif %}
            </span>
            </div>
        {% endfor %}
    {%else%}
        <div class="list-group-item">
            There's current no comment recorded for this job.
        </div>
    {%endif%}
</div>

<!-- form action to submit a comment -->
<form class="form-horizontal" method=POST name="comment" action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id %}">
    {% csrf_token %}
<center>
    <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Leave Your Comment</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3"  name="text_comment"></textarea>
        </div>
    </div>
</center>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" name="comment">Submit</button>
      </div>
    </div>
</form>

<!--this message appears for new user only -->
{% if show_dialog %}
    {% if user.userprofile.purdueuser %}
        <script>alert("Here you can accept or reject job requests that you receive.  You can also make comments and suggestions to change the job request before accepting.");
        </script>
    {% else %}
        <script>alert("This page shows whether your job request has been accepted or declined by this organization.  You can also view comments and make changes to the job request here.");
        </script>
    {% endif %}
{% endif %}
{% endblock content %}
