{% extends "dbtest/base.html" %}
{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ jobrequest.job.name }}</h3>


    <small>Created by</small> {{jobrequest.job.client_organization}}
    {%if not request.user.userprofile.purdueuser%}
    <br>
    <small>submitted to</small> <a href="{% url 'organization_detail' jobrequest.organization.id %}">{{jobrequest.organization.name}}</a>
    {%endif%}
    <br><br>
   <i class="fa fa-calendar"></i> Due on  <span class="badge "> {{jobrequest.job.duedate}}</span>

   <br><br>
   {%if jobrequest.is_pending%}
   <form action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id%}" method ="post">
       {%csrf_token%}
       <input type="hidden" name="jobrequest" value="{{jobrequest}}">
       <i class="fa fa-check"></i><input class="btn btn-success" type="submit" name="action" value="Accept Request">
       <i class="fa fa-remove"></i><input class="btn btn-danger" type="submit" name="action" value="Decline Request">
   </form>
   {%endif%}

   {%if jobrequest.accepted %}
   <span class="label label-success">Accepted</span>
   {% endif %}
   {%if jobrequest.declined %}
   <span class="label label-danger">Declined</span>
   {% endif %}
  </center>


</div>


<blockquote>

    {{jobrequest.job.description}}

</blockquote>


<div class="panel panel-primary">
    <div class="panel-heading">Comments
    </div>
    {% if comment_text %}
    <div class="list-group notifications">

    {% for comments in comment_text %}

        <a class="list-group-item">
            {{comments.text_comment}}
            <span class="pull-right"> 
            {% if comments.creator.userprofile.purdueuser %}
                {{comments.creator}} from {{comments.jobrequest.organization}}
            {% else %}
                {{comments.creator}}
            {% endif %}
            </span>
        </a>

    {% endfor %}
    </div>

    {% endif %}
    <form method=POST name="comment" action="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id %}">
        {% csrf_token %}
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-bullhorn"></i>
            </span>
            <textarea class="form-control"  name="text_comment" placeholder="What do you think about this job?"></textarea>
        </div>
        <br>
        <input class="btn btn-warning" type="submit" name = "comment" value="Submit Comment"></input>
    </form>
</div>

{% endblock content %}
