{% extends "dbtest/base.html" %}

{% block content %}

	<div class="panel-heading">
			Login
	</div>
	

	<div class = "jumbotron">
	
	
	
	<br>
	<form class="login" action="{% url 'login' %}" method='POST'>

		{% csrf_token %}
		<div class="input-group">
			<span class="input-group-addon" id="addon-e,">
				<div class="glyphicon glyphicon-user"></div>
			</span>
			<input id="id_username" name="username" name="username" value="{{ username }}"type="text" class="form-control" placeholder="Username" autofocus="true" autocomplete="on" aria-describedby="addon1">
		</div>
		&nbsp;
				<input type='hidden' name='csrfmiddlewaretoken' value='ooj4AUcGpfYh7xPa4Ik3zh2NtyoGW1fC' />


		<div class="input-group">
			<span class="input-group-addon" id="addon-pa">
				<div class="glyphicon glyphicon-lock"></div>
			</span>
			<input type="password" id name="next" value="{{ next }}" class="form-control" placeholder="Username" aria-describedby="addon1">
			
		</div>
		<button type="submit" value="Login" class="btn btn-primary">Login</button>

	</form>
	
		
		
<!--		<form class="login" action="{% url 'login' %}" method='POST'>
		{% csrf_token %}
		<table class = "input-table">
		{{ form }}
		</table>
		<br>
		<input class = "custom-btn" type="submit" value="Login"  >
		<input type="hidden" name="next" value="{{ next }}">
		</form>
		
		-->
		<br>
		<br>
		<div id= "create_user">
			<p>Not a user? 
			<a href="{% url 'user_create' %}">Create an Account</a>
			</p>
		</div>
	</div>
{% endblock content %}
