{% extends "dbtest/base.html" %}

{% block content %}

	<div class="panel-heading">
			LOGIN
	</div>
	<div class = "jumbotron">
		<form class="login" action="{% url 'login' %}" method='POST'>
		{% csrf_token %}
		<table class = "input-table">
		{{ form }}
		</table>
		<br>
		<input class = "custom-btn" type="submit" value="Login"  >
		<input type="hidden" name="next" value="{{ next }}">
		</form>
		<br>
		<br>
		<div id= "create_user">
			<p>Not a user? 
			<a href="{% url 'user_create' %}">Sign up here</a>
			</p>
		</div>
	</div>
{% endblock content %}
