{% extends "dbtest/base.html" %}

{% block content %}

{% load notifications_tags %}

<div class="row">
  <div class="col-sm-10">
    <h1><span class="text-muted">Notifications</span></h1>
  </div>
</div>
<div>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Unread</th>
      </tr>

    </thead>

    <tbody>
      {% if unread_notifications %}
      {% for notification in unread_notifications %}
      <tr>
        <td>
          {{notification}}
        </td>
        <td> </td> 

      </tr>
      {%endfor%}
      {% else %}
      <tr><td><span class="text-muted">You have no unread notifications</span>
      </td></tr>
      {% endif %}
    </tbody>

  </table>
  <br>
  <hr>

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Read</th>
      </tr>

    </thead>

    <tbody>
      {% if read_notifications %}
      {% for notification in read_notifications %}
      <tr>
        <td>
          {{ notification }}
        </td>

        <td> </td>

      </tr>
      {%endfor%}
      {% else %}
      <tr><td><span class="text-muted">You have no read notifications</span>
      </td></tr>
      {% endif %}
    </tbody>
  </table>
</div>
{%endblock%}
