{% extends "dbtest/base.html" %}

{% block content %}

{% load notifications_tags %}


<div class="row">
        <div class="col-sm-10">
            <h1><span class="text-muted">Notifications</span> {{user_detail.username}}</h1>
            <lead>You have no new notifications</lead>
        </div>
     
 </div>


############UNREAD
{% for notification in unread_notifications %}

<p>{{notification}}</p>

{%endfor%}
<br>
##########READ

{% for notification in read_notifications %}

<p>{{notification}}</p>

{%endfor%}

{%endblock%}
