{% extends "dbtest/base.html" %}
{% block content %}



<div class="jumbotron">

    <center>
      <img src="{{organization.icon.url}}" name="aboutme" width="140" height="140" class="img-circle">
 <h3>
   {%if organization.available %}
  <span class="badge success"><i class="fa fa-check"></i> Available</span>
  {%else%}
 <span class="badge danger"><i class="fa fa-remove"></i> Not Available</span>

  {%endif%}
<br>&nbsp;
          {{organization.name}}
        </h3>


        {% for category in organization.categories.all %}

        <a href="{% url 'search' %}?search={{ category.name }}&search_model=organization&search_by=category" class="label label-primary">{{category.name}}</a>

        {%endfor%}
    </center>

</div>

    <div class="panel panel-primary">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        {{organization.description}}

      </div>
    </div>

  </div>

{% endblock content%}
