{% extends "dbtest/base.html" %}

{% block content %}
{% if show_dialog %}
<div class="confirm alert alert-dismissible alert-info">
    <i type="button" class="close fa fa-close" data-dismiss="alert"></i>
    <h4>Any job requests your organization receives will appear here.  Click 'Organization Settings' to set email preferences and organization availability. </h4>
</div>
{% endif %}

<div class="jumbotron">
  <center>
    <h3>{{ organization.name }} <small>Dashboard</small></h3>
  </center>

  <a href="{% url 'organization_settings' organization.id %}" class="pull-right"><button class="btn btn-info">Organization Settings</button></a>
  <a href="{% url 'organization_detail' organization.id %}" class="pull-right"><button class="btn btn-info">View Public Profile</button></a>
</div>
<div class="jobrequest-overlay-contain"></div>

<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-primary">

      <div class="panel-heading">
            Job Requests
      </div>
      <div class="panel-body">
        <ul class="dash-list list-group">
          {% for jobrequest in jobrequests %}
          <a class="list-group-item jobrequest-overlay-trigger" href="" jobrequestID={{jobrequest.id}}>
            {% if jobrequest.accepted %}
            <span class="label label-lg label-success">Accepted</span>
            {% elif jobrequest.declined %}
            <span class="label label-lg label-danger">Declined</span>
            {% else %}
            <span class="label label-lg label-warning">Pending</span>
            {% endif %}
            {{ jobrequest.job.name }} by {{jobrequest.job.client_organization}}
            <script>
              var overlayID = {{jobrequest.id}};
              var orgID = "{{jobrequest.organization.id}}";
              var jobID = "{{jobrequest.job.id}}";
              var jobrequestOverlay = $('<div></div>').addClass('jobrequest-overlay');
              jobrequestOverlay.attr('overlayID', overlayID);
              jobrequestOverlay.append($('<a class="exit-overlay">X</a>'));
              $(".jobrequest-overlay-contain").append(jobrequestOverlay);
              jobrequestOverlay.load(window.location.origin+"/organization/"+orgID+"/job/"+jobID);
            </script>
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

<script>
    var ESC_KEY = 27; // ecs key value

    function closeOverlay() {
        $(".jobrequest-overlay:visible").hide();
        $(".jobrequest-overlay-contain").hide();
    }

    function showOverlay(event){
        event.preventDefault();
        event.stopPropagation();
        var jobrequestID = $(event.target).attr("jobrequestID");
        $(".jobrequest-overlay-contain").show();
        $('[overlayID="'+jobrequestID+'"]').show();
    }

    $(".jobrequest-overlay-trigger").click(showOverlay);

    $(".jobrequest-overlay-contain").click(function(event){
        event.stopPropagation();

        // this prevent the event getting triggered when clicking overlay
        if ($(event.target).hasClass("jobrequest-overlay-contain") || $(event.target).hasClass("exit-overlay")) {
            closeOverlay();
        }
    }).css({ // set the height and width to fit
        height: $(window).height(),
        width: $(window).width()
    });

    $(window).resize(function (event) { // handle the window resize
       $(".jobrequest-overlay-contain").css({
           height: $(window).height(),
           width: $(window).width()
       }) ;
    });

    $(document).keydown(function (event) {
        // if the key pressed is ESC or jobrequest-overlay-contain is visible
        if (event.which == ESC_KEY && $(".jobrequest-overlay-contain:visible")[0]) {
            closeOverlay();
        }
    });
</script>
{% endblock content %}
