{% extends "dbtest/base.html" %}
{% block content %}
<div class="panel-heading">
  <div class="">
    Search Results
  </div>
</div>
<div class = "jumbotron" >

  <h3><u>{{ organization.name }}</u></h3>
  
  {% if organization.job_requested %}
  <p>The following jobs have been requested to your organization:</p>
  {% else %}
  <p>There are currently no jobs requested to your organization</p>
  {%endif%}
  <div class ="contact-info box">
    <table class="table table-hover table-striped ">
      {% for job in organization.job_requested %}
      <tr>
        <td><a href="{% url 'job_detail' job.id %}">{{ job.name }}</a>
          <form method=POST name="jobaccept" action="{% url 'organization_accept_job' organization.id %}">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job.id }}">
            <input class = "custom-btn" type="submit" value="Accept Job">
          </form>
        </td>
      </tr>
      {% endfor %}
</tr>
</table>
</div>

</div>


{% endblock %}
