{% extends "dbtest/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ organization.name }} <small>Settings</small></h3>
  </center>

  <a href="{% url 'organization_dash' organization.id %}" class="pull-right"><button class="btn btn-info">Organization Dashboard</button></a>
  <a href="{% url 'organization_detail' organization.id %}" class="pull-right"><button class="btn btn-info">View Public Profile</button></a>
</div>

<form action="{% url 'organization_settings' organization.id %}" method="post">

  {% csrf_token %}

  <div class="row">
    <div class="col-sm-6">

    Name
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" id="addon1">
            <i class="fa fa-institution"></i>
          </span>

          {% render_field modelform.name class+="form-control" %}
      </div>
    </div>

    Description
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="addon1">
          <i class="fa fa-quote-right"></i>
        </span>
        {% render_field modelform.description %}
      </div>
    </div>

    Categories
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-list"></i>
        </span>
        {% render_field modelform.categories class+="form-control" %}
      </div>
    </div>

    <div class="form-group">
      Photo
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-image"></i>
        </span>

        {% render_field modelform.icon class+="form-control" %}

      </div>
    </div>

    </div>

    <div class="col-sm-6">
      Availability
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-check"></i>
        </span>
        {% render_field modelform.available class+="form-control" %}
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-12 col-sm-offset-5">
    <input class="btn btn-primary" type="submit" value="Modify Organization">
    </div>
  </div>
</form>
<script>
  $('#id_categories').val({{ categories_id }});
</script>

{% endblock content %}
