{% extends "dbtest/base.html" %}
{% block content %}
	
	
	
	        <h1>
	        <span class="text-muted">Job Index</span>
	            {{organization.name}}
	         </h1>
	         
	         &nbsp;
				
		
		
				<div class="panel panel-primary">
					<div class="panel-heading">
						Requested Jobs
						
						<span class="badge">{{organiztion.job_accepted|length}}</span>
						
					
					</div>
					<div class="panel-body">
					
					{% if organization.job_requested %}
						{% for job in organization.job_requested %}
							<a href='{% url 'job_detail' job.id %}'>{{ job.name }}</a><br>
						{% endfor %}
					{% else %}
						<p>You haven't received any job requests yet!</p>
					{%endif%}

					
					
					<a href="{% url 'organization_accept_job' organization.id %}">
							See these on Requests page
					</a>	
					</div>
					
				</div>
				
				<div class="panel panel-success">
					<div class="panel-heading">
						Accepted Jobs
					
					</div>
					<div class="panel-body">
						{% if organization.job_accepted %}
						
							{% for job in organization.job_accepted %}
								<a href='{% url 'job_detail' job.id %}'>{{ job.name }}</a><br>
							{% endfor %}
						
						{% else %}
						You haven't accepted any jobs yet!
						{%endif%}
						
					</div>
					
				</div>


	
{% endblock %}
