{% extends "dbtest/base.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h3>{{ organization.name }}<small> Dashboard </small></h3>
  </center>

  <span class="pull-right"><button class="btn btn-info">Organization settings</button></span>
</div>

<div class="row">
  <div class="col-sm-5">
    <!--left col-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        Notifications
        <div class="badge">
            a number goes here
        </div>
      </div>

      <div class="list-group">
          <!--       {% for noti in user.notifications.unread %} -->
        <a href="#" class="list-group-item active">
         <i class="fa fa-circle"></i>
         <!--          {{ noti.verb }}} -->
         notification text
         <span class="pull-right"><small>Oct 21,2015 9:31PM</small></span>
        </a>
        <!--       {% endfor %} -->
        <!--       {% for noti in user.notifications.read %} -->
        <a href="#" class="list-group-item">
         <i class="fa fa-circle"></i>
         <!--          {{ noti.verb }}} -->
         notification text
         <span class="pull-right"><small>Oct 21,2015 9:31PM</small></span>
        </a>
        <!--       {% endfor %} -->
      </div>

      <div class="panel-body">
        <center><a href="#"> Show More </a></center>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="panel panel-primary">

      <div class="panel-heading">
            Job Requests
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {% for jobrequest in jobrequests %}
          <a class="list-group-item" href="{% url 'jobrequest_dash' jobrequest.organization.id jobrequest.job.id %}">
            <span class="badge">14</span>
            {% if jobrequest.accepted %}
            <span class="btn btn-success">Accepted</span>
            {% elif jobrequest.declined %}
            <span class="btn btn-danger">Declined</span>
            {% else %}
            <span class="btn btn-warning">Pending</span>
            {% endif %}
            {{ jobrequest.job.name }}
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
