{% extends "dbtest/base.html" %}
{% load template_tags %}

{% block content %}

<div class="jumbotron">

  <center>
    <h3>{{ request.user }} </h3>
  </center>
  <span class="pull-right"><button class="btn btn-info">User settings</button></span>

</div>

<div class="row">
  <div class="col-sm-6">
  {% dash_notifications "Notifications" unread_notifications read_notifications %}
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">

      <div class="panel-heading">
        Your Organizations
      </div>
      <div class="panel-body">
        <ul class="list-group">
        {% for org in organizations %}
        <a class="list-group-item" href="{% url 'organization_dash' org.id %}">
          <span class="badge">14</span>
          <img src="{{ org.icon.url }}" height="70px"></img>
          {{ org.name }}
        </a>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
