{% extends "dbtest/base.html" %}

{% block content %}

  <center>
  <h3>{{user.username}} <small> Settings </small>
    </h3>
    </center>


  {% if username %}
  <b>Welcome {{ username }}.  Please check your email for a confirmation message.</b>
  {% else %}
  <form action="{% url 'user_edit' %}" method="post">

    {% csrf_token %}
    <div class="input-group">
      <span class="input-group-addon" id="addon-e,">
        <div class="glyphicon glyphicon-user"></div>
      </span>
      <input id="id_username" name="username" maxlength="30" type="text" class="form-control" placeholder="Edit username" autofocus="true" autocomplete="off" aria-describedby="addon1" value="{{user.username}}">
    </div>
    &nbsp;

    <div class="input-group">
      <span class="input-group-addon" id="addon-pa">
        <div class="glyphicon glyphicon-lock"></div>
      </span>
      <input type="password" maxlength="30" id="id_password1" name="password1"  class="form-control" placeholder="Change Password" aria-describedby="addon1">

    </div>

    &nbsp;

    <div class="input-group">
      <span class="input-group-addon" id="addon-pa">
        <div class="glyphicon glyphicon-lock"></div>
      </span>
      <input type="password" id="id_password2" maxlength="30" name="password2"  class="form-control" placeholder="Confirm change password" aria-describedby="addon1">

    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Modify User">
  </form>
  {% endif %}
</div>
{% endblock content %}
