{% extends "dbtest/base.html" %}


{% block content %}
<input id="search" class="form-control" placeholder="Search" type="text" >
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Organization</th>
            <th>Tags</th>
        </tr>
    {% for org in orgs %}
    <tr class="org_item" ">
        <td class="org_name">{{org.name}}</td>
        <td>
          {% for cat in org.categories.all %}
            <span class="category label label-default">{{ cat }}</span>
          {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

<script>
  $('.org_item').click(function(){
      $(this).toggleClass('info')
  })

  function filter(){
      console.log('keypress')
      var search_text = $('#search').val().toLowerCase();

      $('.org_item').each(function(i,org_item){
          var show = 0;
          //check for match in each category, highlight match
          console.log($(org_item).find('.organization'))
          $(org_item).find('.category').each(function(i,cat_item){
              if (search_text && $(cat_item).text().search(search_text) >=0) {
                  show = 1;
                  $(cat_item).removeClass('label-default')
                  $(cat_item).addClass('label-warning')
              }
              else {
                  $(cat_item).removeClass('label-warning')
                  $(cat_item).addClass('label-default')
              }
          })

          //check for match in name
          var name_str = $(org_item).children('.org_name').text().toLowerCase();
          if (name_str.search(search_text) >= 0){
              show = 1
          }

          //hide or show
          if (show) {
              $(org_item).show()
          }
          else {
              $(org_item).hide()
          }
      })
  }

  $('#search').keyup(function() {
      filter()
  });
</script>

{% endblock content %}
