{% extends "dbtest/base.html" %}
{% block content %}
	<div class="panel-heading">
		<div class="">
			Search Results
		</div>
	</div>
	<div class = "jumbotron" >
	
	
	<!-- New !-->
	
	{% if search_result %}
	
		<p>The search return the following results:</p>

		{% for organization in search_result %}
	
		<div class="list-group">
		
		
			<a href="{% url 'organization_detail' organization.id %}" class="list-group-item">
			
				{% if organization.icon %}<img class="img-rounded" height="64" src="{{ organization.icon.url }}" style="float:left;">{% endif %}
				<h4 class="list-group-item-heading">{{organization.name}}</h4>
				<p class="list-group-item-text">Short description</p>
			</a>
		</div>
		{% endfor %}
	
	{% else %}
		<p>No organization in the database matched your search terms</p>

	{%endif%}
	
	<!-- Old !-->
		
		
		
		
	</div>
{% endblock %}
