{% extends "dbtest/dash.html" %}


{% block jumbotron %}
    <center>
      <img src="http://www.famousbirthdays.com/faces/purdue-john-image.jpg" name="aboutme" width="140" height="140" class="img-circle">
      <h3>user0 <small> Dashboard </small>
        </h3>
        </center>

       <span class="pull-right"><button class="btn btn-info">User settings</button></span>
{% endblock jumbotron %}
&nbsp;

{% block notifications %}

      <div class="list-group">
        <a href="#" class="list-group-item active">
         <i class="fa fa-circle"></i>
         User0 job from user0
         <span class="pull-right"><small>Oct 21,2015 9:31PM</small></span>
        </a>
        <a href="#" class="list-group-item active">
         <i class="fa fa-circle"></i>
         User0 job from user0
         <span class="pull-right"><small>Oct 21,2015 0930</small></span>
        </a>
        <a href="#" class="list-group-item active">
         <i class="fa fa-circle"></i>
         User0 job from user0
         <span class="pull-right"><small>Oct 21,2015 0930</small></span>
        </a>
        <a href="#" class="list-group-item">
         <i class="fa fa-circle-thin"></i>
         User0 job from user0
         <span class="pull-right"><small>Oct 21,2015 0930</small></span>
        </a>
        <a href="#" class="list-group-item">
         <i class="fa fa-circle-thin"></i>
         User0 job from user0
         <span class="pull-right"><small>Oct 21,2015 0930</small></span>
        </a>

      </div>

      <div class="panel-body">


              <center><a href="#"> Show More </a></center>
        </div>
      </div>

{% endblock notifications %}


        {% block enumerated %}
        <div>

          <a href="#">
          <img class="img-circle" src="http://www.famousbirthdays.com/faces/purdue-john-image.jpg" height="70px"></img></a>
          <span class="badge badge-notify">5</span>

          <a href="#">Organization 1</a>
          </div>


          <hr>
        <div>
          <img class="img-circle" src="http://www.famousbirthdays.com/faces/purdue-john-image.jpg" height="70px"></img>
          <span class="badge badge-notify">5</span>
          <a href="#">Organization 2</a>

            <span class="badge success"><i class="fa fa-check"></i> Available</span>
          </div>

          <hr>
          {% endblock enumerated %}

