{% extends "dbtest/settings.html" %}

{% block jumbotron  %}
  <center>
  <img src="http://www.famousbirthdays.com/faces/purdue-john-image.jpg" name="aboutme" width="140" height="140" class="img-circle">
  <h3>user0 <small> Settings </small>
    </h3>
    </center>

{% endblock jumbotron %}

{% block description %}
  {% if username %}
  <b>Welcome {{ username }}.  Please check your email for a confirmation message.</b>
  {% else %}
  <form action="{% url 'user_edit' %}" method="post">
    <table class="input-table">
      {% csrf_token %}
      {{ form }}
    </table>ssa    <input class = "custom-btn" type="submit" value="Modify User">
  </form>
  {% endif %}
</div>


{% endblock description %}
