{% extends "dbtest/base.html" %}

{% block content %}
	<div class="panel-heading">
		<div class="">
			Sign Up
		</div>
	</div>
	<div class = "jumbotron">


		{% if username %}
			<p>Welcome {{ username }}.  Please check your email for a confirmation message.</p>
		{% else %}
			<form action="{% url 'user_create' %}" method="post">
			{% csrf_token %}
			<table class = "input-table">
			{{ form }}
			</table>
			<br>
			<input class = "custom-btn" type="submit" value="Create User">
			</form>
		{% endif %}
	</div>

{% endblock content %}
