{% extends "main/base.html" %}
{% load widget_tweaks %}
{% load sniplates %}
{% load_widgets widgets="main/widgets.html" %}

{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ job.name }} <small>Settings</small></h3>
  </center>
</div>

<div class="form-group"><a href="{% url 'job_dash' job.id %}"><button class="btn btn-primary">Back</button></a></div>

<form action="{% url 'job_settings' job.id %}" method="post">

  {% csrf_token %}

  <div class="row">

    <div class="col-sm-6">

      Name
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-bullhorn"></i>
        </span>
        {% render_field form.name class+="form-control" %}
      </div>

      Client Organization
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-coffee"></i>
        </span>
        {% render_field form.client_organization class+="form-control" %}
      </div>

      Deliverable
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-check"></i>
        </span>
        {% render_field form.deliverable class+="form-control" %}
      </div>

      Description
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-coffee"></i>
        </span>
        {% render_field form.description class+="form-control" %}
      </div>

      Due Date
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
        {% render_field form.duedate class+="form-control" %}
      </div>

      Stakeholders
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-coffee"></i>
        </span>
        {% render_field form.stakeholders class+="form-control" %}
      </div>

      Budget
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-money"></i>
        </span>
        {% render_field form.budget class+="form-control" %}
      </div>

      Attachments
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-file"></i>
        </span>
        {% render_field form.attachments class+="form-control" %}
      </div>

      <div class="panel-group">
          {% render_field form.categories class+="form-control" %}

      </div>

      <div class="panel-group">
          {% render_field form.categories class+="form-control" %}
    </div>

  </div>

  <div class="form-group pull-right">
    <input class="btn btn-primary" type="submit" value="Save Changes" onclick="submitFunction()">
  </div>
</form>
<script>
  $('#id_categories').val({{ categories_id }});
</script>

{% endblock content %}
